import("Matrix","HaploSim","reshape")
useDynLib(pedigree)
export("add.Inds","calcG","calcInbreeding","countOff",
       "blup","calcG","countGen","gblup","calcInbreeding",
       "makeA","makeAinv","trimPed","orderPed")
importFrom("methods", "as")
importFrom("stats", "model.frame", "model.matrix")
importFrom("utils", "read.table")
